# 编译生成的二进制文件和目录
/bin/
/pkg/

# 日志文件
*.log

# 依赖文件
/vendor/

# VSCode 设置
.vscode/

# IDEs 和编辑器生成的文件
.idea/
*.swp
*.swo

# 操作系统生成的文件
.DS_Store
Thumbs.db

# Go 工具生成的测试覆盖率文件
*.out

# 环境变量文件
.env

# 输入目录
input_images/

# 输出目录
output_images/

# 用户特定的忽略项
# 添加其他你想要忽略的文件或目录
